<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Warbler</title>

  <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">
  <div class="modal fade" id="newMessageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Message Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <textarea name="message-text" id="message-text" cols="50" rows="5" placeholder="Enter warble here."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="dismiss-modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="add-warble">Add Warble</button>
        </div>
      </div>
    </div>
  </div>
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="/static/images/warbler-logo.png" alt="logo">
        <span>Warbler</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if request.endpoint != None %}
      <li>
        <form class="navbar-form navbar-right" action="/users">
          <input name="q" class="form-control" placeholder="Search Warbler" id="search">
          <button class="btn btn-default">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </li>
      {% endif %}
      {% if not g.user %}
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      {% else %}
      <li>
        <a id='current-user-link' href="/users/{{ g.user.id }}">
          <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
        </a>
      </li>
      <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#newMessageModal" id="new-message-link">
        New message
      </button>
      <li>
        <form method="POST" action="/logout">
          <button class="btn btn-link" id="logout-link">Log out</button>
        </form>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">

  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>
<script
src="https://code.jquery.com/jquery-3.7.1.js"
integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
crossorigin="anonymous"></script>
<script src="/static/bootstrap.bundle.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/models.js"></script>
<script src="/static/app.js"></script>
<script src="/static/app-test.js"></script>
<script src="/static/models-test.js"></script>
</body>
</html>